body{
    background-color:#c5c1c1;
    font-family:'Courier New', Courier, monospace;
    padding:0;
    margin:0;
}
.main-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    margin-bottom:10px;
}
#title{
    text-align:center;
    color:black;
    font-size:40px;
}
#login{
    text-align:center;
    text-decoration:underline;
    margin-bottom:30px;
    font-size:2rem;
}
.child{
    border-radius:5px;
    background-color: white;
    height:410px;;
    width:250px;
    padding:10px;
    margin:5px 0 10px 0;

}
#player1,#player2{
    font-family:'Courier New', Courier, monospace;
    width:18rem;
    height:2rem;
    border-radius:5px;
    margin-top:10px;
    margin-bottom:30px;
    font-weight:600;
    font-size:1.5rem;
    border:1px solid rgb(83, 81, 81);
}
#boxes{
    font-family:'Courier New', Courier, monospace;
    width:18rem;
    height:2rem;
    border-radius:5px;
    margin-top:8px;
    margin-bottom:5px;
    font-weight:600;
    font-size:1.5rem;
    border:1px solid rgb(83, 81, 81);
}
#info-text{
    color:red;
    font-size:1.2rem;
}
#p1,#p2,#b1{
    font-size:1.5rem;
    font-weight:500;
    font-family:'Courier New', Courier, monospace;
}
.btn{
    font-family:'Courier New', Courier, monospace;
    display:block;
    margin:30px auto 0 auto;
    background-color: aqua;
    height:3rem;
    width:15rem;
    border-radius:30px;
    font-size:1.5rem;
    font-weight:700;
    border:none;
    cursor: pointer;
    justify-content:center;
}